@page {
  size: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

*:focus {
  outline: none !important;
}

* {
  font-family: "Roboto", sans-serif;
  color: #959595;
}

.big {
  font-size: 20px;
}

.large {
  font-size: 18px;
}

a {
  color: #959595;
}

a:hover {
  color: #10a0c3;
  text-decoration: none;
}

a.blue {
  text-decoration: underline;
}

hr {
  width: 100%;
}

h1 {
  margin-top: 15px;
  font-weight: 300;
  color: #343434;
  display: block;
}

h4 {
  margin-top: 15px;
  font-weight: 400;
  color: #343434;
}

h3 {
  margin-bottom: 15px;
  font-weight: 300;
  color: #343434;
}

h5 {
  margin-bottom: 15px;
  font-weight: 700;
  color: #343434;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.text-right {
  text-align: right;
}

.icon-large {
  font-size: 25px;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.badge {
  color: #fff;
  border-radius: 0px;
  padding: 5px;
}

.dash-separation {
  display: block;
  padding: 15px 0px;
  border-bottom: dashed 1px #959595;
}

.inline-block-md {
  display: inline !important;
}

/** colors **/
.dark-gray,
.dark-gray * {
  color: #343434;
}

.white,
.white * {
  color: #fff;
}

.blue,
.blue * {
  color: #1c1f23 !important;
}

.dark-blue-bg {
  background: #1c1f23;
}

.dark-blue {
  color: #1c1f23;
}

.dark-blue-bg a,
.dark-blue-bg span {
  color: #fff !important;
}

/** end colors **/

/** bootstrap override **/
.form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ced4da;
}

.input-group .form-control {
  border: 1px solid #ced4da;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}

.input-group-text {
  background: none;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background-color: #1c1f23;
  border-color: #1c1f23;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background-color: #1c1f23;
  border-color: #1c1f23;
  box-shadow: none;
}

.dropdown-item[active="true"],
.dropdown-item:active {
  color: #212529;
  text-decoration: none;
  background-color: #ececec;
}

.dropdown-item span {
  color: #1c1f23 !important;
}

.input-group-text {
  background-color: #1c1f23;
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0px;
}

.form-control.select {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #343434;
}

textarea.form-control {
  border-radius: 0px;
  resize: none;
}

.table-bordered thead th {
  background: #203040;
  color: #fff;
  font-weight: 300;
  border-color: #fff;
}

.table-bordered td {
  border: 1px solid #fff;
}

.card {
  border-radius: 0px;
}
.card-header {
  background: dde4ec;
}

.card-header button {
  color: #535f6b;
  font-weight: 500;
}

.btn-link:hover {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  color: #535f6b;
}

.btn:focus {
  box-shadow: none;
  color: #fff;
  text-decoration: none;
}

/** end bootstrap override **/

/** toast **/

/** end toast **/

/** header **/

img#logo {
  height: 35px;
}

.profile-links a {
  color: #7f7f7f;
}

#notif-dropdown .dropdown-menu {
  left: -200px;
}

.img-rounded {
  border-radius: 50px;
}

.no-carret a:after {
  display: none;
}

#top-search-section {
  margin-left: 30px;
}

#top-search-section .form-control {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#top-search-section .input-group-append {
  cursor: pointer;
}

#top-search-section .input-group-text {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dark-blue-bg .notif-badge {
  float: right;
  margin-left: 5px;
  color: #1c1f23 !important;
  background: #fff;
  border-radius: 20px;
  padding: 2px;
  width: 15px;
  height: 15px;
  padding-top: 3px;
  padding-left: 1px;
  font-size: 10px;
}

/** end header **/

/** footer **/
#footer {
  margin-top: 20px;
  padding: 15px 0px;
}
/** end footer **/

/** header categories **/
.top-main-catagtory-item {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #343434;
  display: inline-block;
  width: auto;
  flex: inherit;
}

.top-main-catagtory-item a,
.top-main-catagtory-item a * {
  color: #fff;
}

.top-main-catagtory-item:hover,
.top-main-catagtory-item[active="true"] {
  cursor: pointer;
  background: #1c1f23;
}

.top-main-catagtory-item:hover a,
.top-main-catagtory-item[active="true"] a {
  color: white;
}

.yellow-bg {
  background-color: #ffcd00;
}

.blue {
  color: #009dff;
}

.blue-bg {
  background-color: #009dff;
}

.blue2-bg {
  background-color: #2bc9ce;
}

.green-bg {
  background-color: #3ad531;
}

.green2-bg {
  background-color: #54803c;
}

.red-bg {
  background-color: #ab192d;
}

.violet-bg {
  background-color: #8c19ab;
}

/** end header categories **/

/** home **/

.carousel-control-next,
.carousel-control-prev {
  opacity: 1;
}
/** end home **/

/** last articles section **/
#last-articles-section {
  background: #efefef;
  padding: 30px 0px;
}

.last-item {
  margin-left: 20px;
}
/** end last articles section **/

/** pagination  **/

.pagination {
  width: 300px;
  margin: auto;
}

.page-link {
  color: #203040;
  background-color: #fff;
  border: 1px solid #203040;
}

.page-link:focus {
  box-shadow: none;
  color: #fff;
}

.page-link:hover {
  border-color: #203040;
  background-color: #203040;
  color: #fff;
}

.page-item.active .page-link {
  background-color: #203040;
  border-color: #203040;
}

/** end pagination **/

/** left sidebar **/
.side-category-link:hover,
.side-category-link[active="true"] {
  cursor: pointer;
  background: #cccccc;
  color: #203040;
  padding-left: 20px;
}

/** end left sidebar **/

/** items **/

.item-img-container-lg {
  height: 230px;
  text-align: center;
}

.item-img-container-md {
  height: 80px;
  text-align: center;
}

.item-img-container-sm {
  height: 50px;
  text-align: center;
}

span.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.item-img {
  max-height: 100%;
  max-width: 100%;
}

.item-description {
  margin-top: 10px;
  margin-bottom: 50px;
}

.exchange-items {
  margin-bottom: 20px;
}

/** end items **/

/** added items **/
.added-item-link {
  display: block;
  padding: 15px 0px;
  border-bottom: dashed 1px #959595;
}

.added-item-link p {
  margin-bottom: 5px;
}

/** end added items **/

/** item details **/
.main-detail-img {
  display: block;
  margin: auto;
  height: 400px;
  max-width: 100%;
}
.main-detail-img-small {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  height: 195px;
  max-width: 100%;
}

.comment-section {
  margin-top: 25px;
}

.comment-profile-img {
  max-height: 80px;
  max-width: 100%;
  display: block;
}

.comment-text {
  margin-top: 10px;
}
/** end item details **/

/** add item **/
.profile-info {
  margin-bottom: 20px;
}
/** end add item **/

/** profile **/
.upload-file-area {
  width: 55px;
  cursor: pointer;
}

.upload-file-area .form-control-file {
  position: absolute;
  opacity: 0;
  width: 100%;
}

/** my messages **/
.discussion-item {
  margin-top: 10px;
  padding: 10px;
  max-height: 80px;
  overflow: hidden;
  cursor: pointer;
}

.discussion-item.not-read {
  background: #efefef;
}

#conversation-area {
  max-height: 680px;
  overflow-x: hidden;
}

.discussion-left {
  background: #efefef;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 30px;
  margin-left: 10px;
  display: inline-block;
}

.discussion-avatar-left {
  width: 20px;
  float: left;
}

.discussion-right {
  background: #009abf;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
  display: inline-block;
  color: white;
}

.discussion-avatar-right {
  width: 20px;
  float: right;
}

/** end my messages **/

/** my items **/
.exchange-item-list {
  display: block;
}

.exchange-item-list:hover {
  text-decoration: underline;
}

table .dash-separation {
  display: block;
  padding: 5px 0px;
  border-bottom: dashed 1px #959595;
}
/** end my items **/
.exchange-list {
  border-bottom: dashed 1px #959595;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
/** my exchange **/

/** end my exchange **/

/** multi image upload **/
.multi-preview img {
  max-width: 20%;
}
/** end multi image upload **/

/** media query **/

/** xl screen **/
@media (min-width: 1200px) {
  .top-main-catagtory-item {
    flex-basis: 0;
    flex-grow: 1;
  }
}

/** large - xl screen **/
@media (min-width: 960px) and (max-width: 1200px) {
}

/** medium - large screen **/
@media (min-width: 768px) and (max-width: 960px) {
  .top-main-catagtory-item {
    font-size: 15px;
  }
}

/** small screen **/
@media (max-width: 768px) {
  h4 {
    margin-top: 10px;
    font-size: 1.3rem;
  }

  .big {
    font-size: 15px;
  }

  .profile-links .dropdown-menu {
    left: -120px;
  }

  #left-category-menu {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 170px;
    background: #091017;
    height: 100%;
    animation-name: openMenu;
    animation-duration: 1s;
  }

  @keyframes openMenu {
    0% {
      margin-left: -170px;
    }
    100% {
      margin-left: 0px;
    }
  }

  #left-category-menu a {
    display: block;
    color: #fff;
    padding: 10px 15px;
  }

  #left-category-menu .left-category-menu-first {
    margin-top: 30px;
  }

  #left-category-menu a:hover,
  #left-category-menu a[active="true"] {
    cursor: pointer;
    background: #1c1f23;
  }

  #close-menu {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  #close-menu * {
    color: #fff;
  }

  .item-img-container-lg {
    height: 130px;
  }

  .item-description {
    margin-bottom: 30px;
  }
}

/** x-small screen **/
@media (max-width: 576px) {
  .inline-block-md {
    display: none !important;
  }

  #header-section .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  img#logo {
    height: 30px;
  }

  .profile-links .dropdown-menu {
    left: -160px;
  }
}
