@page {
  size: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

*:focus {
  outline: none !important;
}

* {
  font-family: "Roboto", sans-serif;
  color: #959595;
}

.big {
  font-size: 25px;
}

.large {
  font-size: 20px;
}

a {
  color: #959595;
}

a:hover {
  color: #10a0c3;
  text-decoration: none;
}

hr {
  width: 100%;
}

h1 {
  margin-top: 15px;
  font-weight: 300;
  color: #343434;
  display: block;
}

h4 {
  margin-top: 15px;
  font-weight: 500;
  color: #343434;
}

h3 {
  margin-bottom: 15px;
  font-weight: 300;
  color: #343434;
}

h5 {
  margin-bottom: 15px;
  font-weight: 700;
  color: #343434;
}

.padding-left-5 {
  padding-left: 5px;
}

.padding-right-5 {
  padding-right: 5px;
}

.text-center {
  display: block;
}

.icon-large {
  font-size: 25px;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.badge {
  color: #fff;
  border-radius: 0px;
  padding: 5px;
}

/** colors **/
.dark-gray,
.dark-gray * {
  color: #343434;
}

.white,
.white * {
  color: #fff;
}

.blue,
.blue * {
  color: #009abf !important;
}

.dark-blue-bg {
  background: #253746;
}

.dark-blue {
  color: #253746;
}

.dark-blue-bg a,
.dark-blue-bg span {
  color: #fff !important;
}

/** end colors **/

/** bootstrap override **/
.form-control {
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid #ced4da;
}

.input-group .form-control {
  border: 1px solid #ced4da;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: none;
}

.input-group-text {
  background: none;
}

.btn {
  border-radius: 0px;
}

.btn-primary {
  background-color: #009abf;
  border-color: #009abf;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus {
  background-color: #3f8ea0;
  border-color: #3f8ea0;
  box-shadow: none;
}

.dropdown-item[active="true"],
.dropdown-item:active {
  color: #212529;
  text-decoration: none;
  background-color: #ececec;
}

.dropdown-item span {
  color: #253746 !important;
}

.input-group-text {
  background-color: #253746;
  border-radius: 0;
}

.dropdown-menu {
  border-radius: 0px;
}

.form-control.select {
  border-radius: 0px;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #343434;
}

textarea.form-control {
  border-radius: 0px;
  resize: none;
}

.table-bordered thead th {
  background: #009abf;
  color: #fff;
  font-weight: 300;
  border-color: #fff;
}

.table-bordered td {
  border: 1px solid #fff;
}

.card {
  border-radius: 0px;
}
.card-header {
  background: dde4ec;
}

.card-header button {
  color: #535f6b;
  font-weight: 500;
}

.btn-link:hover {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  color: #535f6b;
}

.btn:focus {
  box-shadow: none;
  color: #fff;
  text-decoration: none;
}
/** end bootstrap override **/

/** header **/

.profile-links a {
  color: #7f7f7f;
}

.img-rounded {
  border-radius: 50px;
}

.no-carret a:after {
  display: none;
}

#top-search-section {
  margin-left: 30px;
}

.dark-blue-bg .notif-badge {
  float: right;
  margin-left: 5px;
  color: #253746 !important;
  background: #fff;
  border-radius: 20px;
  padding: 2px;
  width: 15px;
  height: 15px;
  padding-top: 3px;
  padding-left: 1px;
  font-size: 10px;
}

/** end header **/

/** footer **/
#footer {
  padding: 15px 0px;
  margin-top: 25px;
}
/** end footer **/

/** header categories **/
.top-main-catagtory-item {
  border-bottom: solid 3px black;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #343434;
}

.top-main-catagtory-item a {
  color: #343434;
}

.top-main-catagtory-item:hover,
.top-main-catagtory-item[active="true"] {
  cursor: pointer;
}

.top-main-catagtory-item:hover a,
.top-main-catagtory-item[active="true"] a {
  color: white;
}

.yellow-border {
  border-bottom-color: #ffcd00;
}

.yellow-border:hover,
.yellow-border[active="true"],
.yellow-bg {
  background-color: #ffcd00;
}

.blue {
  color: #009dff;
}

.blue-border {
  border-bottom-color: #009dff;
}

.blue-border:hover,
.blue-border[active="true"],
.blue-bg {
  background-color: #009dff;
}

.blue2-border {
  border-bottom-color: #2bc9ce;
}

.blue2-border:hover,
.blue2-border[active="true"],
.blue2-bg {
  background-color: #2bc9ce;
}

.green-border {
  border-bottom-color: #3ad531;
}

.green-border:hover,
.green-border[active="true"],
.green-bg {
  background-color: #3ad531;
}

.green2-border {
  border-bottom-color: #54803c;
}

.green2-border:hover,
.green2-border[active="true"],
.green2-bg {
  background-color: #54803c;
}

.red-border {
  border-bottom-color: #ab192d;
}

.red-border:hover,
.red-border[active="true"],
.red-bg {
  background-color: #ab192d;
}

.violet-border {
  border-bottom-color: #8c19ab;
}

.violet-border:hover,
.violet-border[active="true"],
.violet-bg {
  background-color: #8c19ab;
}

/** end header categories **/

/** last articles section **/
#last-articles-section {
  background: #efefef;
  padding: 30px 0px;
}

.last-item {
  margin-left: 20px;
}
/** end last articles section **/

/** sponsors section **/

#sponsors-section {
  padding: 30px 0px;
}

.sponsor-img {
  width: 70%;
  max-height: 150px;
  margin: auto;
  margin-bottom: 15px;
}
/** end sponsors **/

/** items **/
.item-img {
  height: 230px;
  max-width: 100%;
}

.item-img-small {
  height: 230px;
  max-width: 100%;
}

.item-description {
  margin-top: 10px;
  margin-bottom: 20px;
}

/** end items **/

/** left side filter **/
.side-category-link {
  display: block;
  padding: 15px 0px;
  border-bottom: dashed 1px #959595;
}
/** end left side filter **/

/** item details **/
.main-detail-img {
  display: block;
  margin: auto;
  height: 400px;
  max-width: 100%;
}
.main-detail-img-small {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  height: 195px;
  max-width: 100%;
}

.comment-section {
  margin-top: 25px;
}

.comment-profile-img {
  max-height: 80px;
  max-width: 100%;
  margin: auto;
  display: block;
}

.comment-text {
  margin-top: 10px;
}
/** end item details **/

/** profile **/
.upload-file-area {
  width: 55px;
  cursor: pointer;
}

.upload-file-area .form-control-file {
  position: absolute;
  opacity: 0;
  width: 100%;
}

/** my messages **/
.discussion-item {
  margin-top: 10px;
  padding: 10px;
  max-height: 80px;
  overflow: hidden;
  cursor: pointer;
}

.discussion-item.not-read {
  background: #efefef;
}

#conversation-area {
  max-height: 680px;
  overflow-x: hidden;
}

.discussion-left {
  background: #efefef;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 30px;
  margin-left: 10px;
  display: inline-block;
}

.discussion-avatar-left {
  width: 20px;
  float: left;
}

.discussion-right {
  background: #009abf;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
  display: inline-block;
  color: white;
}

.discussion-avatar-right {
  width: 20px;
  float: right;
}

/** end my messages **/

/** my items **/
.exchange-item-list {
  display: block;
}

.exchange-item-list:hover {
  text-decoration: underline;
}
/** end my items **/

/** multi image upload **/
.multi-preview img {
  max-width: 20%;
}
/** end multi image upload **/
